<%-include("partials/header") -%>
<div class="jumbotron">
    <h1 class="display-4">Your event is created successfully! </h1>
    <hr class="my-4">
    <p>You can <a href="https://calendar.google.com/calendar/r" target="blank">see it </a>in your google calendar</p>
  </div>
<%-include("partials/footer") -%>